@font-face {
    font-family: "DM-Serif";
    src: url(../assets/fonts/DMSerifDisplay-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "PublicSans-Regular";
    src: url(../assets/fonts/PublicSans-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "PublicSans-Bold";
    src: url(../assets/fonts/PublicSans-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "RobotoMono-Regular";
    src: url(../assets/fonts/RobotoMono-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}